
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
   
    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--end slider -->
    <!--script-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <!--/script-->

    <!---->

</head>
<body>
    <!---header---->
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><img src="images/logo.jpg" title="" /></a>
            </div>
            
        </div>
    </div>
    <!--/header-->
    <div class="contact-content">
        <div class="container">
            <div class="contact-info">
                <h2 style="color: #a2365a ">İletişim</h2>
                <p>
                    Merhaba! Size daha iyi hizmet verebilmek ve sorularınızı yanıtlamak için buradayız. İletişim kurmak için aşağıdaki bilgileri kullanabilir veya bize herhangi bir zaman e-posta gönderebilirsiniz.<br />
                    Her türlü soru, öneri veya geribildiriminiz bizim için değerlidir. Size en kısa sürede yanıt vermek için buradayız. Tatil planlarınızla ilgili yardıma ihtiyacınız olursa veya sadece "merhaba" demek istiyorsanız, lütfen çekinmeden bizimle iletişime geçin. İyi günler dileriz!
                </p>
            </div>
            <div class="contact-details">
                <form>
                    <input type="text" placeholder="Ad Soyad" required />
                    <input type="text" placeholder="Email" required />
                    <input type="text" placeholder="Telefon" required />
                    <input type="text" placeholder="Şehir" required />
                    <textarea placeholder="Mesajınız"></textarea>
                    <input type="submit" value="Gönder" />
                </form>
            </div>
            <div class="contact-details">
                <div class="col-md-6 contact-map">
                    <h4>Adres</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d818840.338026673!2d33.18888345984356!3d36.70826728353098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d8559f383b6385%3A0x8c4b37ef32cd04c4!2sMersin!5e0!3m2!1str!2str!4v1704228297058!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-6 company_address">
                    <h4>Bize Ulaşın :)</h4>
                    
                    <p>Güneş Mahallesi Akdeniz</p>
                    <p>Mersin</p>
                    <p>Telefon: 0 (552) 781 12 33</p>
                    <p>Email: <a href="mailto:akayisa955@gmail.com">akayisa955@gmail.com</a></p>
                    <p> Sosyal Medya <a href="#">Facebook</a>, <a href="#">Twitter</a></p>
                </div>
                <div class="clearfix"></div>
            </div>


        </div>
    </div>
    </div>
    <!---->
   


